SETS

1. Python Sets

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry", True, 2, 1}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry", False, 0, 1}
print(thisset)

{False, 1, 'cherry', 'banana', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [14]:
thisset = {"abc", 1, False, 40, "male"}
print(thisset)

{False, 1, 40, 'male', 'abc'}

In [16]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

<class 'set'>

In [18]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'banana', 'apple'}

2. Access Set Items

In [21]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [23]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [25]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

3. Add Items

In [28]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [30]:
thisset = {"apple", "banana", "cherry"}
tropical = {"mango", "papaya", "kiwi"}
thisset.update(tropical)
print(thisset)

{'cherry', 'papaya', 'mango', 'banana', 'apple', 'kiwi'}

In [32]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'apple', 'cherry', 'banana', 'kiwi'}

4. Remove Item

In [35]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [37]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [39]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [43]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [45]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

5. Loop Sets

In [51]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

6. Join Sets

In [54]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [56]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | (set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [58]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
newset = set1.union(set2, set3, set4)
print(newset)

{1, 2, 3, 'b', 'bananas', 'apple', 'cherry', 'c', 'a', 'John', 'Elena'}

In [62]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [64]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3, 1, "a"}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [68]:
set1 ={'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft', 'apple'}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [70]:
set1 ={'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft', 'apple'}
set3 = set1 & set2
print(set3)

{'apple'}

In [74]:
set1 ={'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft', 'apple'}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [76]:
set1 = {"apple", "banana", "cherry", 1, 0}
set2 = {"apple", True, False, 1, "google"}
set1.intersection_update(set2)
print(set1)

{False, True, 'apple'}

In [78]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [80]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [82]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

In [84]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'cherry', 'banana'}