FOR LOOPS

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [11]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [17]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [21]:
for x in range(6):
    print(x)
else:
    print("finished")

0
1
2
3
4
5
finished

In [23]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    ("finished")

0
1
2

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [27]:
for x in [0, 1, 2]:
  pass